# Анализ датасета survey

In [1]:
#импорт библиотек
import numpy as np
import pandas as pd
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt

import plotly
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, iplot, plot

In [2]:
df = pd.read_csv('data\survey.csv')

In [3]:
df.shape

(1259, 27)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  1259 non-null   object
 1   Age                        1259 non-null   int64
 2   Gender                     1259 non-null   object
 3   Country                    1259 non-null   object
 4   state                      744 non-null    object
 5   self_employed              1241 non-null   object
 6   family_history             1259 non-null   object
 7   treatment                  1259 non-null   object
 8   work_interfere             995 non-null    object
 9   no_employees               1259 non-null   object
 10  remote_work                1259 non-null   object
 11  tech_company               1259 non-null   object
 12  benefits                   1259 non-null   object
 13  care_options               1259 non-null   object
 14  wellness_program           1259 non-null   object
 15  seek_help                  1259 non-null   object
 16  anonymity                  1259 non-null   object
 17  leave                      1259 non-null   object
 18  mental_health_consequence  1259 non-null   object
 19  phys_health_consequence    1259 non-null   object
 20  coworkers                  1259 non-null   object
 21  supervisor                 1259 non-null   object
 22  mental_health_interview    1259 non-null   object
 23  phys_health_interview      1259 non-null   object
 24  mental_vs_physical         1259 non-null   object
 25  obs_consequence            1259 non-null   object
 26  comments                   164 non-null    object
dtypes: int64(1), object(26)
memory usage: 265.7+ KB

Значения столбцов:  <br> 
Timestamp - отметка времени  <br> 
Age - возраст  <br> 
Gender - пол  <br> 
Country - страна <br> 
state - штат <br> 
self employed - самозанятость <br> 
family history - семейная история <br> 
treatment - лечение <br> 
work interfere - помехи работе <br> 
no employees - без сотрудников <br> 
remote work - удалённая работа <br> 
tech company - техническая компания <br> 
benefits - льготы <br> 
care options - варианты ухода <br> 
wellness program - оздоровительная программа <br> 
seek help - обратиться за помощью <br> 
anonymity - анонимность <br> 
leave - уйти <br> 
mental health consequence - последствия для психического здоровья <br> 
phys health consequence - последствия для физического здоровья <br> 
coworkers - коллеги <br> 
supervisor - руководитель <br> 
mental health interview - собеседование по психическому здоровью <br> 
phys health interview - собеседование по физическому здоровью <br> 
mental vs physical - психическое против физического <br> 
obs consequence - наблюдаемые последствия <br> 
comments - комментарии <br>

### Очистка данных

Посчитаем количество пропущенных значений во всём датафрейме

In [5]:
mis_val = df.isnull().sum()
mis_val_percent = 100 * df.isnull().sum() / len(df)
mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1).round(1)
mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
mis_val_table_ren_columns

                           Missing Values  % of Total Values
Timestamp                               0                0.0
Age                                     0                0.0
Gender                                  0                0.0
Country                                 0                0.0
state                                 515               40.9
self_employed                          18                1.4
family_history                          0                0.0
treatment                               0                0.0
work_interfere                        264               21.0
no_employees                            0                0.0
remote_work                             0                0.0
tech_company                            0                0.0
benefits                                0                0.0
care_options                            0                0.0
wellness_program                        0                0.0
seek_help                               0                0.0
anonymity                               0                0.0
leave                                   0                0.0
mental_health_consequence               0                0.0
phys_health_consequence                 0                0.0
coworkers                               0                0.0
supervisor                              0                0.0
mental_health_interview                 0                0.0
phys_health_interview                   0                0.0
mental_vs_physical                      0                0.0
obs_consequence                         0                0.0
comments                             1095               87.0

Можно увидеть, что больше всего пропусков столбцах 'comments', 'state' и 'work_interfere'

Можно увидеть, что в столбце 'comments' процент пропущенных значений равен 87, из чего можно сделать вывод, что столбец не информативен для нас и его можно удалить

In [6]:
df = df.drop("comments", axis=1)

В столбце 'self_employed' пропусков всего 18, думаю можно удалить эти строки

In [7]:
df = df.dropna(subset=["self_employed"])

In [8]:
df

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
18,2014-08-27 11:34:53,46,male,United States,MD,Yes,Yes,No,Sometimes,1-5,...,Yes,Very easy,No,No,Yes,Yes,No,Yes,Yes,Yes
19,2014-08-27 11:35:08,36,Male,France,NaN,Yes,Yes,No,NaN,6-25,...,Yes,Somewhat easy,No,No,Some of them,Some of them,Maybe,Maybe,Don't know,No
20,2014-08-27 11:35:12,29,Male,United States,NY,No,Yes,Yes,Sometimes,100-500,...,No,Somewhat difficult,Maybe,No,Some of them,Some of them,No,No,No,No
21,2014-08-27 11:35:24,31,male,United States,NC,Yes,No,No,Never,1-5,...,Yes,Somewhat difficult,No,No,Some of them,Some of them,No,Maybe,Yes,No
22,2014-08-27 11:35:48,46,Male,United States,MA,No,No,Yes,Often,26-100,...,Don't know,Don't know,Maybe,No,Some of them,Yes,No,Maybe,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2015-09-12 11:17:21,26,male,United Kingdom,NaN,No,No,Yes,NaN,26-100,...,Don't know,Somewhat easy,No,No,Some of them,Some of them,No,No,Don't know,No
1255,2015-09-26 01:07:35,32,Male,United States,IL,No,Yes,Yes,Often,26-100,...,Yes,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No
1256,2015-11-07 12:36:58,34,male,United States,CA,No,Yes,Yes,Sometimes,More than 1000,...,Don't know,Somewhat difficult,Yes,Yes,No,No,No,No,No,No
1257,2015-11-30 21:25:06,46,f,United States,NC,No,No,No,NaN,100-500,...,Don't know,Don't know,Yes,No,No,No,No,No,No,No
1258,2016-02-01 23:04:31,25,Male,United States,IL,No,Yes,Yes,Sometimes,26-100,...,Yes,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No

Найдём столбцы в которых только значения Yes - No

In [9]:
df['self_employed'].value_counts()

No     1095
Yes     146
Name: self_employed, dtype: int64

In [10]:
df['family_history'].value_counts()

No     756
Yes    485
Name: family_history, dtype: int64

In [11]:
df['treatment'].value_counts()

Yes    628
No     613
Name: treatment, dtype: int64

In [12]:
df['obs_consequence'].value_counts()

No     1059
Yes     182
Name: obs_consequence, dtype: int64

Создадим копию дата фрейма и заменим эти значения на 1 - 0, для удобства построения графиков

In [13]:
df1 = df.copy()

In [14]:
#df1['self_employed'] = df['self_employed'].apply(lambda x:  1 if x=='Yes' else 0)

In [15]:
#df1['family_history'] = df['family_history'].apply(lambda x:  1 if x=='Yes' else 0)

In [16]:
#df1['treatment'] = df['treatment'].apply(lambda x:  1 if x=='Yes' else 0)

In [17]:
#df1['obs_consequence'] = df['obs_consequence'].apply(lambda x:  1 if x=='Yes' else 0)

In [18]:
#df1

Заменим пропуски в столбцах 'state' и 'work_interfere' на топовые значения, для того, чтобы корректно проводить анализ данных

In [19]:
df1['state'].describe()['top'] #поиск топового значения

'CA'

In [20]:
df1['state'] = df['state'].fillna('CA') #замена на топовое значение
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1241 entries, 18 to 1258
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  1241 non-null   object
 1   Age                        1241 non-null   int64
 2   Gender                     1241 non-null   object
 3   Country                    1241 non-null   object
 4   state                      1241 non-null   object
 5   self_employed              1241 non-null   object
 6   family_history             1241 non-null   object
 7   treatment                  1241 non-null   object
 8   work_interfere             977 non-null    object
 9   no_employees               1241 non-null   object
 10  remote_work                1241 non-null   object
 11  tech_company               1241 non-null   object
 12  benefits                   1241 non-null   object
 13  care_options               1241 non-null   object
 14  wellness_program           1241 non-null   object
 15  seek_help                  1241 non-null   object
 16  anonymity                  1241 non-null   object
 17  leave                      1241 non-null   object
 18  mental_health_consequence  1241 non-null   object
 19  phys_health_consequence    1241 non-null   object
 20  coworkers                  1241 non-null   object
 21  supervisor                 1241 non-null   object
 22  mental_health_interview    1241 non-null   object
 23  phys_health_interview      1241 non-null   object
 24  mental_vs_physical         1241 non-null   object
 25  obs_consequence            1241 non-null   object
dtypes: int64(1), object(25)
memory usage: 261.8+ KB

In [21]:
df1['work_interfere'].value_counts() #поиск топового значения

Sometimes    458
Never        207
Rarely       170
Often        142
Name: work_interfere, dtype: int64

In [22]:
df1['work_interfere'] = df['work_interfere'].fillna('Sometimes') #замена на топовое значение
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1241 entries, 18 to 1258
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  1241 non-null   object
 1   Age                        1241 non-null   int64
 2   Gender                     1241 non-null   object
 3   Country                    1241 non-null   object
 4   state                      1241 non-null   object
 5   self_employed              1241 non-null   object
 6   family_history             1241 non-null   object
 7   treatment                  1241 non-null   object
 8   work_interfere             1241 non-null   object
 9   no_employees               1241 non-null   object
 10  remote_work                1241 non-null   object
 11  tech_company               1241 non-null   object
 12  benefits                   1241 non-null   object
 13  care_options               1241 non-null   object
 14  wellness_program           1241 non-null   object
 15  seek_help                  1241 non-null   object
 16  anonymity                  1241 non-null   object
 17  leave                      1241 non-null   object
 18  mental_health_consequence  1241 non-null   object
 19  phys_health_consequence    1241 non-null   object
 20  coworkers                  1241 non-null   object
 21  supervisor                 1241 non-null   object
 22  mental_health_interview    1241 non-null   object
 23  phys_health_interview      1241 non-null   object
 24  mental_vs_physical         1241 non-null   object
 25  obs_consequence            1241 non-null   object
dtypes: int64(1), object(25)
memory usage: 261.8+ KB

In [23]:
#from sklearn.impute import SimpleImputer
#imputer = SimpleImputer(strategy="median")

### Кодировка

In [24]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [25]:
df2 = df1.copy()

Посмотрим столбцы, где тип данных object, для того, чтобы посмотреть, какие столбца можно закодировать

In [26]:
df2.describe(include = ['object'])

,Timestamp,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
count,1241,1241,1241,1241,1241,1241,1241,1241,1241,1241,...,1241,1241,1241,1241,1241,1241,1241,1241,1241,1241
unique,1228,49,48,45,2,2,2,4,6,2,...,3,5,3,3,3,3,3,3,3,2
top,2014-08-27 12:44:51,Male,United States,CA,No,No,Yes,Sometimes,6-25,No,...,Don't know,Don't know,No,No,Some of them,Yes,No,Maybe,Don't know,No
freq,2,605,740,645,1095,756,628,722,284,871,...,806,554,479,910,766,505,999,549,568,1059

Можно увидеть, что столбцов, где мало уникальных занчений довольно много.

In [27]:
#2 способ
le = LabelEncoder()
df2['family_history'] = le.fit_transform(df2['family_history'])
df2.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
18,2014-08-27 11:34:53,46,male,United States,MD,Yes,1,No,Sometimes,1-5,...,Yes,Very easy,No,No,Yes,Yes,No,Yes,Yes,Yes
19,2014-08-27 11:35:08,36,Male,France,CA,Yes,1,No,Sometimes,6-25,...,Yes,Somewhat easy,No,No,Some of them,Some of them,Maybe,Maybe,Don't know,No
20,2014-08-27 11:35:12,29,Male,United States,NY,No,1,Yes,Sometimes,100-500,...,No,Somewhat difficult,Maybe,No,Some of them,Some of them,No,No,No,No
21,2014-08-27 11:35:24,31,male,United States,NC,Yes,0,No,Never,1-5,...,Yes,Somewhat difficult,No,No,Some of them,Some of them,No,Maybe,Yes,No
22,2014-08-27 11:35:48,46,Male,United States,MA,No,0,Yes,Often,26-100,...,Don't know,Don't know,Maybe,No,Some of them,Yes,No,Maybe,No,No

In [28]:
#3 способ
df3 = df2['no_employees'].copy()

In [29]:
df3 = pd.get_dummies(df3)
df3

      1-5  100-500  26-100  500-1000  6-25  More than 1000
18      1        0       0         0     0               0
19      0        0       0         0     1               0
20      0        1       0         0     0               0
21      1        0       0         0     0               0
22      0        0       1         0     0               0
...   ...      ...     ...       ...   ...             ...
1254    0        0       1         0     0               0
1255    0        0       1         0     0               0
1256    0        0       0         0     0               1
1257    0        1       0         0     0               0
1258    0        0       1         0     0               0

[1241 rows x 6 columns]

Закодируем столбцы 'mental_health_consequence' и 'mental_health_interview'

In [30]:
#4 способ
enc = OneHotEncoder(sparse= False)
train = enc.fit_transform(df[['mental_health_consequence', 'mental_health_interview']])
column_names = enc.get_feature_names(['mental_health_consequence', 'mental_health_interview'])
df4 = pd.DataFrame(train, columns=column_names)
df4.head()

,mental_health_consequence_Maybe,mental_health_consequence_No,mental_health_consequence_Yes,mental_health_interview_Maybe,mental_health_interview_No,mental_health_interview_Yes
0,0.0,1.0,0.0,0.0,1.0,0.0
1,0.0,1.0,0.0,1.0,0.0,0.0
2,1.0,0.0,0.0,0.0,1.0,0.0
3,0.0,1.0,0.0,0.0,1.0,0.0
4,1.0,0.0,0.0,0.0,1.0,0.0

Закодируем столбцы 'phys_health_consequence' и 'phys_health_interview'

In [31]:
enc = OneHotEncoder(sparse= False)
train = enc.fit_transform(df[['phys_health_consequence', 'phys_health_interview']])
column_names = enc.get_feature_names(['phys_health_consequence', 'phys_health_interview'])
df4 = pd.DataFrame(train, columns=column_names)
df4.head()

,phys_health_consequence_Maybe,phys_health_consequence_No,phys_health_consequence_Yes,phys_health_interview_Maybe,phys_health_interview_No,phys_health_interview_Yes
0,0.0,1.0,0.0,0.0,0.0,1.0
1,0.0,1.0,0.0,1.0,0.0,0.0
2,0.0,1.0,0.0,0.0,1.0,0.0
3,0.0,1.0,0.0,1.0,0.0,0.0
4,0.0,1.0,0.0,1.0,0.0,0.0

In [32]:
df2['self_employed'] = pd.factorize(df2['self_employed'])[0]
df2['treatment'] = pd.factorize(df2['treatment'])[0]
df2['work_interfere'] = pd.factorize(df2['work_interfere'])[0]
df2['tech_company'] = pd.factorize(df2['tech_company'])[0]
df2['benefits'] = pd.factorize(df2['benefits'])[0]
df2['care_options'] = pd.factorize(df2['care_options'])[0]
df2['wellness_program'] = pd.factorize(df2['wellness_program'])[0]
df2['seek_help'] = pd.factorize(df2['seek_help'])[0]
df2['remote_work'] = pd.factorize(df2['remote_work'])[0]
df2['anonymity'] = pd.factorize(df2['anonymity'])[0]
df2['mental_health_consequence'] = pd.factorize(df2['mental_health_consequence'])[0]
df2['phys_health_consequence'] = pd.factorize(df2['phys_health_consequence'])[0]
df2['leave'] = pd.factorize(df2['leave'])[0]
df2['coworkers'] = pd.factorize(df2['coworkers'])[0]
df2['supervisor'] = pd.factorize(df2['supervisor'])[0]
df2['mental_health_interview'] = pd.factorize(df2['mental_health_interview'])[0]
df2['phys_health_interview'] = pd.factorize(df2['phys_health_interview'])[0]
df2['mental_vs_physical'] = pd.factorize(df2['mental_vs_physical'])[0]
df2['obs_consequence'] = pd.factorize(df2['obs_consequence'])[0]
df2.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
18,2014-08-27 11:34:53,46,male,United States,MD,0,1,0,0,1-5,...,0,0,0,0,0,0,0,0,0,0
19,2014-08-27 11:35:08,36,Male,France,CA,0,1,0,0,6-25,...,0,1,0,0,1,1,1,1,1,1
20,2014-08-27 11:35:12,29,Male,United States,NY,1,1,1,0,100-500,...,1,2,1,0,1,1,0,2,2,1
21,2014-08-27 11:35:24,31,male,United States,NC,0,0,0,1,1-5,...,0,2,0,0,1,1,0,1,0,1
22,2014-08-27 11:35:48,46,Male,United States,MA,1,0,1,2,26-100,...,2,3,1,0,1,0,0,1,2,1